/* Gerais */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
    margin: 0;
}

/* Navbar */
header, .navbar {
    background-color: #F3F8FF;
}

.navbar-brand img {
    width: 75px;
}

#navbar-links a {
    text-decoration: none;
    color: #02033B;
    transition: 0.2s;
}

#navbar-links a:hover {
    color: #ED1B24;
}