/* Gerais */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: #1E1C1C;
    font-size: 14px;
}

/* Navbar */
header, .navbar {
    background-color: #F3F8FF;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

#navbar-links a {
    text-decoration: none;
    color: #02033B;
    transition: 0.2s;
}

#navbar-links a:hover {
    color: #ED1B24;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}
